:root {
  /*цвета*/
  --primary-color: blue;
  --text-color: white;
  --bg-color: green;
  --shadow-text: 1px 1px 2px lightblue;
  --shadow-box: 2px 2px 2px brown;
  --button-color: rgb(81, 81, 232);

  /*размеры шрифта*/
  --fs-sm: clamp(0.8rem, 2vw, 1rem);
  --fs-md: clamp(1rem, 3vw, 1.5rem);
  --fs-lg: clamp(1.5rem, 4vw, 2.5rem);

  /*шрифты*/
  --fm-logo: d;
  --fm-project: p;
  --fm--todo: j;

  /*отступы*/
  --spacing-sm: 0.5rem;
  --spasing-md: 1rem;
  --spasing-lg: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#form-project {
  grid-area: "form-project";
  margin-left: var(--fs-lg);
  justify-self: start;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: clamp(250px, 15vw, 600px);
  height: clamp(150px, 20vh, 800px);
}
#form-todo {
  grid-area: "form-todo";
  display: flex;

  flex-flow: column wrap;
  width: clamp(400px, 40vw, 600px);
}
#form-todo button {
  padding: 4px;
  color: var(--text-color);
  align-self: start;
  background-color: var(--button-color);
}
#done {
  align-self: start;
}
#side-bar {
  margin-left: var(--fs-lg);
  justify-self: start;
  grid-area: "side-bar";
}
body {
  background-color: var(--bg-color);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: clamp(200px, 30vw, 500px), 1fr;
  grid-template-rows: minmax(150px, 1fr), minmax(200px, 2fr);
  grid-template-areas:
    "form-project form-todo"
    "side-bar side-bar";
}
