:root {
  /*цвета*/
  --primary-color: blue;
  --text-color: white;
  --bg-color: green;
  --shadow-text: 1px 1px 2px lightblue;
  --shadow-box: 1px 1px 9px rgb(65, 69, 68);
  --button-color: rgb(81, 81, 232);

  /*размеры шрифта*/
  --fs-sm: clamp(0.8rem, 2vw, 1rem);
  --fs-md: clamp(1rem, 3vw, 1.5rem);
  --fs-lg: clamp(1.5rem, 4vw, 2.5rem);

  /*шрифты*/
  --fm-logo: d;
  --fm-project: p;
  --fm--todo: j;

  /*отступы*/
  --spacing-sm: 0.5rem;
  --spasing-md: 1rem;
  --spasing-lg: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(166, 217, 219);
  display: flex;
  gap: var(--spasing-md);
}
#project-box {
  box-shadow: var(--shadow-box);
  background-color: rgb(143, 205, 207);
  height: 100vh;
  width: 35vw;
}
#form-box {
  box-shadow: var(--shadow-box);
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;

  align-self: center;
  border-radius: var(--spasing-lg);
  height: 50vh;
  width: 30vw;
  background-color: rgb(45, 167, 176);
}
#form-todo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: var(--spacing-sm);
  width: 80%;
  height: 80%;
}
#box {
  box-shadow: var(--shadow-box);
  background-color: rgb(143, 205, 207);
  height: 100vh;
  width: 35vw;
}
.form-el {
  background-color: rgb(142, 225, 60);
  border: none;
  padding: var(--spacing-sm);
  border-radius: var(--spasing-lg);
}
.delete {
  background-color: red;
}
.edit-btn {
  background-color: chocolate;
}
#side-bar {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: start;
  gap: var(--spacing-sm);
  height: 100vh;
}
.project-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  gap: var(--spasing-lg);
  width: 80%;
  height: 80%;
}
.todo-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: var(--spacing-sm);

  height: 100%;
}
.btn-todo-box {
  flex-flow: wrap row-reverse;
  display: flex;
  justify-content: space-between;
}
.btn-todo {
  width: 48%;
}
